

<div class="row justify-content-center form-bg-image">
<p style="font-size:40px;color:rgb(183, 185, 185);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;position:relative;margin-top:40%;">
    <span style="font-size:40px;color:rgb(183, 185, 185);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;position:relative;bottom:380%;left:30%">welcome to speedy plateform</span></p></div>

