<main>

    <!-- Section -->
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">

            <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <div class="avatar avatar-lg mx-auto mb-3"><img class="rounded-circle" alt="Image placeholder" src="../../assets/img/team/profile-picture-3.jpg" ></div>
                            <h1 class="h3">Bonnie Green</h1>
                            <p class="text-gray">Better to be safe than sorry.</p>
                        </div>
                      <form class="forms-sample" [formGroup]="lockform" novalidate>
                            <div class="form-group mb-4">
                                <label for="password">Your Login</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                    </span>
                                    <input type="text" placeholder="login" class="form-control" formControlName="admin_LOGIN"   id="password" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid mt-3">
                                <button type="submit" class="btn btn-gray-800" (click)='unlock()'>Unlock</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
