

  <div class="row justify-content-center mt-3">
    <div class="col-12 d-flex justify-content-between flex-column flex-sm-row">
      <a class="fw-bold text-dark hover:underline mb-2 mb-lg-0" (click)="messagerie()"><span class="fas fa-inbox me-2"></span>Back to messages</a>
    </div>
    <div class="col-12" >
      <div class="card shadow-sm p-4 mb-4" *ngFor="let MSG of TMessage" >
        <div class="d-flex justify-content-between align-items-center mb-2">
                  <span class="font-small">
                      <a href="#">
                          <img class="avatar-sm img-fluid rounded-circle me-2" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/img/team/profile-picture-1.jpg" alt="avatar">
                          <span class="fw-bold">{{MSG.chauffeur_NAME}}</span>
                      </a>
                      <span class="ms-2">  {{MSG.message_DATE}} ,  {{MSG.message_TIME}} </span>
                  </span>
          <div class="d-none d-sm-block" >
            <span class="fas fa-mobile-alt" aria-label="phone" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sent from the phone" data-original-title="Sent from the phone"></span>
          </div>
        </div>
        <p class="m-0">
          {{MSG.message_TEXT}}      </p>
      </div>

      <form action="#" class="mt-4"  [formGroup]="messageform"  novalidate>
        <textarea class="form-control border border-gray-400 shadow-sm mb-4" id="message" placeholder="Your Message" rows="6" maxlength="1000"    formControlName="message_TEXT"required></textarea>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <div class="file-field">
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <span class="icon icon-md h6"><span class="fas fa-paperclip me-3"></span></span>
                <input type="file">
                <div class="d-block text-left d-sm-block">
                  <div class="fw-normal text-dark mb-lg-1">Attach File</div>
                  <div class="text-gray small pe-3 pe-lg-11 d-none d-md-inline">Supported files are: jpg, jpeg, png, doc, pdf, gif, zip, rare, tar, txt, xls, docx, xlsx, odt
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-secondary text-dark" (click)="enregistrerMessage()"><span class="fas fa-paper-plane me-2"></span>Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>


