<main class="content"style="width:100%;height:100%;position: relative;right:25%;">
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between" style="margin-top: -2%;">
        <div class="fw-normal small mt-4 mt-lg-0"><div class="py-4">
            <div class="btn-toolbar mb-2 mb-md-0" style="position: relative;left:0%;">
              <div class="dropdown">

                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                        Add User
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>
                        Add Widget
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>
                        Upload Files
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        Preview Security
                    </a>
                    <div role="separator" class="dropdown-divider my-1"></div>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
                        Upgrade to Pro
                    </a>
                </div>
                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                  <span class="small ps-3 fw-bold text-dark">Show</span>
                  <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                  <a class="dropdown-item fw-bold" href="#">20</a>
                  <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
              </div>
                <div class="btn-group ms-2 ms-lg-3">
                  <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
                  <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
              </div>
              </div>
            </div>
          </div></div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-top: -2%;position: relative;">
      <form class="forms-sample" [formGroup]="suivieform"  novalidate>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Matricule</th>
                    <th class="border-gray-200">Company Name</th>
                    <th class="border-gray-200">Driver Name</th>
                    <th class="border-gray-200">Driver GSM</th>
                    <th class="border-gray-200">Loading Date</th>
                    <th class="border-gray-200">Unloading Date</th>
                    <th class="border-gray-200">DISPO cmr</th>
                    <th class="border-gray-200">arrival Time(loading)</th>
                    <th class="border-gray-200">Loading Time</th>
                    <th class="border-gray-200">Declar Finalisee</th>
                    <th class="border-gray-200">Engagee on the Way</th>
                    <th class="border-gray-200">arrival Time (unloading)</th>
                    <th class="border-gray-200">Unloading Time</th>
                    <th class="border-gray-200">Status cmr</th>
                    <th class="border-gray-200">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                <tr *ngFor="let svt of TSuivie">
                    <td>
                      {{svt.suivie_ID}}
                    </td>
                    <td>
                      {{svt.suivie_CLIENT_NAME}}
                    </td>
                    <td> {{svt.driver_NAME}}</td>
                    <td> {{svt.driver_GSM}}</td>
                    <td> {{svt.suivie_DATE_Depart}}</td>
                    <td> {{svt.suivie_DATE_Arrivee}}</td>
                    <td> {{svt.dispo_CMR}}</td>
                    <td> {{svt.arrival_TIME_LOADING}}</td>
                    <td> {{svt.loading_TIME}}</td>
                    <td> xxxx</td>
                    <td> {{svt.suivie_State}}</td>
                    <td> {{svt.arrival_TIME_UNLOADING}}</td>
                    <td> {{svt.unloading_TIME}}</td>
                    <td> {{svt.state_CMR}}</td>
                    <td>
                        <div>
                            <a   style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"   data-toggle="modal" data-target="#myModal"  (click)="getToUpdateSuivie(svt.suivie_ID)">Edit</a>
                            <a  style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" (click)="DeleteSuivie(svt.suivie_ID)">Remove</a>
                        </div>
                    </td>
                </tr>
                <!-- Item -->
                <tr>
                    <td>
                        <input
                        class="form-control"
                        id="input-add-name1"
                        type="text"
                        placeholder="code"
                        formControlName="suivie_ID"
                      />
                    </td>
                  <td><select class="form-select mb-0" id="gender" aria-label="Gender select example" formControlName="suivie_CLIENT_NAME"  >

                    <option value="comp1" >comp1</option>
                    <option value="comp2">comp2</option>
                    <option value="comp3">comp3</option>
                    <option value="comp4">comp4</option>
                  </select>
                  </td>
                  <td>
                        <input
                        class="form-control"
                        id="input-add-name3"
                        type="text"
                        placeholder=" Driver Name"
                        formControlName="driver_NAME"
                      />
                    </td>
                  <td>
                        <input
                        class="form-control"
                        id="input-add-name4"
                        type="text"
                        placeholder="Driver GSM"
                        formControlName="driver_GSM"
                      />
                    </td>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name55"
                      type="Date"
                      placeholder=""
                      formControlName="suivie_DATE_Depart"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name65"
                      type="Date"
                      placeholder=" "
                      formControlName="suivie_DATE_Arrivee"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name5"
                      type="text"
                      placeholder=" Dispo cmr"
                      formControlName="dispo_CMR"
                    />
                  </td>
                  <td><input
                    class="form-control"
                    id="input-add-name8"
                    type="time"
                    placeholder="DATE"
                    formControlName="arrival_TIME_LOADING"
                  /></td>
                  <td><input
                    class="form-control"
                    id="input-add-name9"
                    type="time"
                    placeholder="DATE"
                    formControlName="loading_TIME"
                  /></td>

                      <td><input
                        class="form-control"
                        id="input-add-name32"
                        type="text"
                      />
                      </td>
                  <td><select class="form-select mb-0" id="gender1" aria-label="Gender select example" formControlName="suivie_State">
                    <option value="En Route">En Route</option>
                    <option value="Arrivee">Arrivee</option>
                    <option value="En Retard">En Retard</option>
                  </select>
                  </td>
                  <td><input
                    class="form-control"
                    id="input-add-name12"
                    type="time"
                    formControlName="arrival_TIME_UNLOADING"
                  />
                  </td>
                      <td>
                        <input
                        class="form-control"
                        id="input-add-name13"
                        type="time"
                        formControlName="unloading_TIME"
                      />
                      </td>
                      <td><select class="form-select mb-0" id="gender2" aria-label="Gender select example" formControlName="state_CMR">
                        <option selected="Ok">Ok</option>
                        <option value="Not Yet"> Not Yet</option>
                    </select>
                      </td>
                    <td>
                        <button  (click)="enregistrerSuivies()" type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                       add
                    </button>
                     </td>

                </tr>
            </tbody>
        </table>
      </form>
    </div>
</main>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="forms-sample" [formGroup]="suiviesupdateform"  novalidate>

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Order</h4>
        </div>
        <!-- Modal body  *ngFor="let student of studentlist">-->
        <div class="modal-body" >
          <div >
            <input type="hidden" class="form-control"  >
            <div class="form-group">
              <label >Suivie Id</label>
              <input
                class="form-control"
                id="input-add1"
                type="text"
                placeholder="code"
                formControlName="suivie_ID"
              />
            </div>

            <div class="form-group">
              <label  >Company Name</label>
              <select class="form-select mb-0" id="genr" aria-label="Gender select example" formControlName="suivie_CLIENT_NAME"  >
                <option value="comp1" >comp1</option>
                <option value="comp2">comp2</option>
                <option value="comp3">comp3</option>
                <option value="comp4">comp4</option>
              </select>
            </div>
            <div class="form-group">
              <label >Driver Name</label>
              <input
                class="form-control"
                id="input-add3"
                type="text"
                placeholder=" Driver Name"
                formControlName="driver_NAME"
              />
            </div>
            <div class="form-group">
              <label  >Driver GSM</label>
              <input
                class="form-control"
                id="input-add4"
                type="text"
                placeholder="Driver GSM"
                formControlName="driver_GSM"
              />
            </div>
            <div class="form-group">
              <label  >suivie_DATE_Depart</label>
              <input
                class="form-control"
                id="input-add55"
                type="Date"
                placeholder=""
                formControlName="suivie_DATE_Depart"
              />
            </div>
            <div class="form-group">
              <label  >suivie_DATE_Arrivee</label>
              <input
                class="form-control"
                id="input-add65"
                type="Date"
                placeholder=" "
                formControlName="suivie_DATE_Arrivee"
              /></div>
            <div class="form-group">
              <label  >Dispo cmr</label>
              <input
                class="form-control"
                id="input-add5"
                type="text"
                placeholder=" Dispo cmr"
                formControlName="dispo_CMR"
              />
            </div>
            <div class="form-group">
              <label  >Arrival TIME LOADING</label>
              <input
                class="form-control"
                id="input-add8"
                type="time"
                placeholder="DATE"
                formControlName="arrival_TIME_LOADING"
              />
            </div>
            <div class="form-group">
              <label  >Loading TIME </label>
              <input
                class="form-control"
                id="input-add9"
                type="time"
                placeholder="DATE"
                formControlName="loading_TIME"
              />
            </div>
            <div class="form-group">
              <label  >file</label>
              <input
                class="form-control"
                id="input-add32"
                type="text"
              />
            </div>
            <div class="form-group">
            <label  >Suivie State</label>
              <select class="form-select mb-0" id="gen1" aria-label="Gender select example" formControlName="suivie_State">
                <option value="En Route">En Route</option>
                <option value="Arrivee">Arrivee</option>
                <option value="En Retard">En Retard</option>
              </select>
          </div>
            <div class="form-group">
            <label  >Arrival TIME UNLOADING</label>
              <input
                class="form-control"
                id="input-add12"
                type="time"
                formControlName="arrival_TIME_UNLOADING"
              />
          </div>
            <div class="form-group">
            <label  >Unloading TIME</label>
              <input
                class="form-control"
                id="input-add13"
                type="time"
                formControlName="unloading_TIME"
              />
          </div>
            <div class="form-group">
            <label  >State CMR</label>
              <select class="form-select mb-0" id="gen2" aria-label="Gender select example" formControlName="state_CMR">
                <option selected="Ok">Ok</option>
                <option value="Not Yet"> Not Yet</option>
              </select>
            </div>
          <div [hidden]="!isupdated">
            <h4>suivie Detail Updated!</h4>
          </div>
                </div>
        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [hidden]="isupdated" (click)="updateSuivie()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
        </div>
      </form>
    </div>
    </div>
  </div>

