<div id="container"></div>
<!--div id="bar_graphe"></div-->


<div >
  <h3 class="mt-2"></h3>
  <div class="row">
    <div class="col-sm">
      <div id="bar_graphe" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-sm">
      <div id="pie_graphe" style="width:100%; height:400px;"></div>
    </div>
  </div>
</div>
