
<main class="content"style="width:100%;height:100%;position: relative;right:25%;">
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between" style="margin-top: -2%;">
        <div class="fw-normal small mt-4 mt-lg-0"><div class="py-4">
            <div class="btn-toolbar mb-2 mb-md-0" style="position: relative;left:0%;">
              <div class="dropdown">

                <button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                    New
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1" >
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
                        Document
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"></path></svg>
                        Message
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>
                        Product
                    </a>
                    <div role="separator" class="dropdown-divider my-1"></div>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
                        My Plan
                    </a>
                </div>
                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                  <span class="small ps-3 fw-bold text-dark">Show</span>
                  <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                  <a class="dropdown-item fw-bold" href="#">20</a>
                  <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
              </div>

            </div>
              </div>
            </div>
          </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-top: -2%;position: relative;">
      <form class="forms-sample" [formGroup]="autoform"  novalidate>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Matricule</th>
                    <th class="border-gray-200">Brand</th>
                    <th class="border-gray-200">Model</th>
                    <th class="border-gray-200">Type</th>
                    <th class="border-gray-200">Picture</th>
                    <th class="border-gray-200">state</th>
                    <th class="border-gray-200">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                <tr *ngFor="let AUT of TAuto">
                    <td>
                      {{AUT.vheicule_ID}}
                    </td>
                    <td>
                      {{AUT.vheicule_BRAND}}
                    </td>
                    <td>
                      {{AUT.vheicule_MODEL}}
                    </td>
                    <td>
                      {{AUT.vheicule_TYPE}}
                </td>
                    <td>
                        <div class="col-auto">
                            <a href="#" class="avatar">
                           <img class="rounded" alt="Image placeholder" src="../../assets/img/team/profile-picture-1.jpg">
                           </a>
                       </div>
                       </td>

                    <td>
                      {{AUT.vheicule_STATE}}
                    </td>
                    <td>
                      <div>
                        <a  style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-toggle="modal" data-target="#myModal" (click)="getToUpdateAuto(AUT.vheicule_ID)" >Edit</a>
                        <a   style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" (click)="DeleteAuto(AUT.vheicule_ID)">Remove</a>
                      </div>
                    </td>
                </tr>
                <!-- Item -->
                <tr>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name1"
                      type="text"
                      placeholder="Matricule"
                      formControlName="vheicule_ID"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name2"
                      type="text"
                      placeholder="Brand"
                      formControlName="vheicule_BRAND"
                    />
                  </td>
                  <td><input
                    class="form-control"
                    id="input-add-name3"
                    type="text"
                    placeholder="Model"
                    formControlName="vheicule_MODEL"
                  /></td>
                  <td><select class="form-select mb-0" id="gender1" aria-label="Gender select example"     formControlName="vheicule_TYPE">
                    <option selected="">T1</option>
                    <option value="1">T2</option>
                    <option value="2">T3</option>
                    <option value="1">T4</option>
                    <option value="2">Remorque</option>
                  </select>
                  </td>
                  <td><input
                    class="form-control"
                    id="input-add-name16"
                    type="text"
                    placeholder="file"

                  /></td>
                  <td><select class="form-select mb-0" id="gender2" aria-label="Gender select example"  formControlName="vheicule_STATE" >
                    <option selected="">available</option>
                    <option value="1">not available</option>
                  </select>
                  </td>
                  <td>
                    <button (click)="enregistrerAutos()" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                     add
                    </button>
                  </td>
                </tr>
            </tbody>
        </table>
      </form>
    </div>
</main>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="forms-sample" [formGroup]="vheiculeupdateform"  novalidate>
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Invoices</h4>
        </div>
        <div class="modal-body" >
          <div class="form-group">
            <label >Car's Id</label>
            <input
              class="form-control"
              id="input-add1"
              type="text"
              placeholder="Matricule"
              formControlName="vheicule_ID"
            />
          </div>

          <div class="form-group">
            <label  >Car's BRAND</label>
            <input
              class="form-control"
              id="input-add2"
              type="text"
              placeholder="Brand"
              formControlName="vheicule_BRAND"
            />
          </div>
          <div class="form-group">
            <label  >  Car's MODEL </label>
            <input
              class="form-control"
              id="input-add3"
              type="text"
              placeholder="Model"
              formControlName="vheicule_MODEL"
            />
          </div>
          <div class="form-group">
            <label> Car's TYPE </label>
            <select class="form-select mb-0" id="gen1" aria-label="Gender select example"     formControlName="vheicule_TYPE">
              <option selected="T1">T1</option>
              <option value="T2">T2</option>
              <option value="T3">T3</option>
              <option value="T4">T4</option>
              <option value="Remorque">Remorque</option>
            </select></div>
          <div class="form-group">
            <label  >Car's Picture </label>
            <input
              class="form-control"
              id="input-add16"
              type="text"
              placeholder="file"
            />
          </div>
          <div class="form-group">
            <label  >Car's STATE </label>
          <select class="form-select mb-0" id="gen2" aria-label="Gender select example"  formControlName="vheicule_STATE" >
            <option selected="available">available</option>
            <option value="not available">not available</option>
          </select>
          </div>
          <div [hidden]="!isupdated">
            <h4>Car Detail Updated!</h4>
          </div>
        </div>
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [hidden]="isupdated" (click)="updateAuto()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
