<main class="content"style="width:100%;height:100%;position: relative;right:25%;">
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between" style="margin-top: -2%;">
        <div class="fw-normal small mt-4 mt-lg-0"><div class="py-4">
            <div class="btn-toolbar mb-2 mb-md-0" style="position: relative;left:0%;">
              <div class="dropdown">

                <button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                    New
                </button>
                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                  <span class="small ps-3 fw-bold text-dark">Show</span>
                  <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                  <a class="dropdown-item fw-bold" href="#">20</a>
                  <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
              </div>

            </div>
              </div>
            </div>
          </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-top: -2%;position: relative;">
      <form class="forms-sample" [formGroup]="factureform"  novalidate>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Ordre Matricule</th>
                    <th class="border-gray-200">Invoice N°</th>
                    <th class="border-gray-200">Company Name</th>
                    <th class="border-gray-200">Operation Date</th>
                    <th class="border-gray-200">invoice Date</th>
                    <th class="border-gray-200">Totale</th>
                    <th class="border-gray-200">state</th>
                    <th class="border-gray-200">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                <tr *ngFor="let fac of TFacture">
                    <td>
                      {{fac.order_ID}}
                    </td>
                    <td>
                      <a [routerLink]="['/cree-f/',fac.facture_ID]">{{fac.facture_ID}}</a>
                    </td>
                    <td>{{fac.company_NAME}}</td>
                    <td>{{fac.order_DATE_EDITION}}</td>
                    <td>{{fac.facture_DATE}}</td>
                    <td>{{fac.facture_TOTALE}}</td>
                    <td>{{fac.facture_STATE}}</td>
                    <td>
                            <div>
                                <a  style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-toggle="modal" data-target="#myModal" (click)="getToUpdatefactures(fac.facture_ID)" >Edit</a>
                                <a   style="color: aliceblue;"  class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" (click)="DeleteFacture(fac.facture_ID)">Remove</a>
                              <button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="creefacture(fac.facture_ID)" >
                                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                                New
                              </button>
                            </div>
                    </td>
                </tr>
                <tr>
                  <td>
                    <input
                      class="form-control"
                      id="input-code1"
                      type="text"
                      placeholder="code"
                      formControlName="facture_ID"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      id="input-code2"
                      type="text"
                      placeholder="code"
                      formControlName="order_ID"
                    />
                  </td>
                  <td><select class="form-select mb-0" id="gender" aria-label="Gender select example"    formControlName="company_NAME" >
                    <option selected="">comp1</option>
                    <option >comp2</option>
                    <option >comp3</option>
                    <option >comp4</option>
                  </select>
                  </td>
                  <td><input
                    class="form-control"
                    id="input-add-name1"
                    type="date"
                    placeholder="DATE"
                    formControlName="order_DATE_EDITION"
                  /></td>
                  <td><input
                    class="form-control"
                    id="input-add-name2"
                    type="date"
                    placeholder="DATE"
                    formControlName="facture_DATE"
                  /></td>
                  <td>
                    <input
                      class="form-control"
                      id="input-add-name3"
                      type="text"
                      placeholder="Prix"
                      formControlName="facture_TOTALE"
                    />
                  </td>

                  <td><select class="form-select mb-0" id="gender2" aria-label="Gender select example"   formControlName="facture_STATE"  >
                    <option value="Paid">Paid</option>
                    <option value="Due">Due</option>
                    <option value="Not yet">Not yet</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
                  </td>
                  <td>
                    <button  (click)="enregistrerFacture()" type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                      add
                    </button>
                  </td>

                </tr>

            </tbody>
        </table>
      </form>
    </div>
</main>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="forms-sample" [formGroup]="factureupdateform"  novalidate>
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Invoices</h4>
        </div>
        <div class="modal-body" >
            <div class="form-group">
              <label >Facture Id</label>
              <input
                class="form-control"
                id="input1"
                type="text"
                placeholder="code"
                formControlName="facture_ID"
              />
            </div>

            <div class="form-group">
              <label  >Order Id</label>
              <input
                class="form-control"
                id="input2"
                type="text"
                placeholder="code"
                formControlName="order_ID"
              />
            </div>
            <div class="form-group">
              <label > Company NAME</label>
              <select class="form-select mb-0" id="gen" aria-label="Gender select example"    formControlName="company_NAME" >
                <option value="comp1">comp1</option>
                <option value="comp2">comp2</option>
                <option value="comp3">comp3</option>
                <option value="comp4">comp4</option>
              </select>
            </div>

            <div class="form-group">
              <label  > Order DATE EDITION</label>
              <input
                class="form-control"
                id="input-add1"
                type="date"
                placeholder="DATE"
                formControlName="order_DATE_EDITION"
              />
            </div>
            <div class="form-group">
              <label  > Facture_DATE</label>
              <input
                class="form-control"
                id="input-add2"
                type="date"
                placeholder="DATE"
                formControlName="facture_DATE"
              /></div>
            <div class="form-group">
              <label  >Facture TOTALE</label>
              <input
                class="form-control"
                id="input-add3"
                type="text"
                placeholder="Prix"
                formControlName="facture_TOTALE"
              />
            </div>
            <div class="form-group">
              <label  >Facture STATE  </label>
              <select class="form-select mb-0" id="gen2" aria-label="Gender select example"   formControlName="facture_STATE"  >
                <option value="Paid">Paid</option>
                <option value="Due">Due</option>
                <option value="Not yet">Not yet</option>
                <option value="Cancelled">Cancelled</option>
              </select>
            </div>
          <div [hidden]="!isupdated">
            <h4>Facture Detail Updated!</h4>
          </div>
        </div>
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [hidden]="isupdated" (click)="updateFacture()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>





