
  <div class="d-flex justify-content-between align-items-center pb-2 pt-4 pb-md-4">
    <div>
      <a  class="btn btn-secondary text-dark mb-3 mb-md-0"><span class="fas fa-plus me-2"></span><span>Delete</span></a>
    </div>
    <div class="d-block d-sm-flex">

      <div class="mb-3 mb-md-0">
        <button type="button" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false">
          More
          <span class="icon icon-small ms-1"><span class="fas fa-chevron-down"></span></span>
        </button>
        <div class="dropdown-menu pb-0" style="width: 10%;height: 30%">
          <span class="ps-3 fw-bold text-dark">More Options :</span>
          <ul class="list-group list-group-flush list my--3">
          <li   *ngFor="let drv of TDriver" class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-auto">

                <a (click)="message()" class="user-avatar" style="position:relative;left:8%;">
                  <img class="rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/img/team/profile-picture-1.jpg" style="width: 20%;height: 20%">
                  <span class="h6 mb-0">
                   {{drv.chauffeur_NAME}}        {{drv.chauffeur_LASTNAME}}
                  </span>
                  <span class="text-success">●</span>
                </a>

              </div>

            </div>
          </li>
                  </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="message-wrapper border border-gray-400 bg-white shadow-sm rounded" >
    <div class="card hover-state border-bottom rounded-0 rounded-top py-3">
      <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
        <div class="col-1 align-items-center px-0 d-none d-lg-flex">
          <div class="form-check inbox-check me-2">
            <input class="form-check-input" type="checkbox" value="" id="mailCheck1">
            <label class="form-check-label" for="mailCheck1"></label>
          </div>
          <div class="rating-star d-none d-lg-inline-block">
            <input type="checkbox" id="InboxStar1" name="star">
            <label class="rating-star-label" for="InboxStar1">
              <span class="sr-only">Star</span>
            </label>
          </div>
        </div>
        <div class="col-10 col-lg-2 ps-0 ps-lg-3 pe-lg-3">
          <a href="#" class="d-flex align-items-center">
            <img src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/img/team/profile-picture-1.jpg" class="user-avatar rounded-circle me-3" alt="Avatar">
            <span class="h6 fw-normal mb-0">Roy Fendley</span>
          </a>
        </div>
        <div class="col-2 col-lg-2 d-flex align-items-center justify-content-end px-0 order-lg-4">
          <div class="text-muted small d-none d-lg-block">11:01 AM</div>
          <div class="btn-group ms-3">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="icon icon-sm">
                              <span class="fas fa-ellipsis-h icon-dark"></span>
                          </span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end py-0">
              <a class="dropdown-item rounded-top" href="#"><span class="fas fa-user-shield me-2"></span> Reset Pass</a>
              <a class="dropdown-item" href="./single-message.html"><span class="fas fa-eye me-2"></span>View Details</a>
              <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-user-times me-2"></span>Suspend</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 d-flex align-items-center mt-3 mt-lg-0 ps-0">
          <a href="./single-message.html" class="fw-normal text-gray truncate-text">
            <span class="fw-normal ps-lg-5">Long time no see - Can we help you set up email forwarding?</span> <span class="d-none d-md-inline">We’ve noticed you haven’t set up email forwarding and we could help you</span>
          </a>
        </div>
      </div>
    </div>
    </div>

