<full-calendar  data-toggle="modal fade" data-target="#modal-new-event" [options]="calendarOptions" ></full-calendar>
<div class="modal fade" id="modal-new-event" tabindex="-1" role="dialog" aria-labelledby="modal-new-event" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form id="addNewEventForm" class="modal-content">
      <div class="modal-body">
        <div class="mb-4">
          <label for="eventTitle">Event title</label>
          <input type="text" class="form-control" id="eventTitle" required>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-4">
              <label for="dateStart">Select start date</label>
              <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <input data-datepicker="" class="form-control" id="dateStart" type="text" placeholder="dd/mm/yyyy" required>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="mb-2">
              <label for="dateEnd">Select end date</label>
              <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <input data-datepicker="" class="form-control" id="dateEnd" type="text" placeholder="dd/mm/yyyy" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="addNewEvent">Add new event</button>
        <button type="button" class="btn btn-link text-gray ml-auto" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="modal-edit-event" tabindex="-1" role="dialog" aria-labelledby="modal-edit-event" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form id="editEventForm" class="modal-content">
      <div class="modal-body">
        <div class="mb-4">
          <label for="eventTitleEdit">Event title</label>
          <input type="text" class="form-control" id="eventTitleEdit" required>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="">
              <label for="dateStartEdit">Select start date</label>
              <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <input data-datepicker="" class="form-control" id="dateStartEdit" type="text" placeholder="dd/mm/yyyy" required>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="mb-2">
              <label for="dateEndEdit">Select end date</label>
              <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <input data-datepicker="" class="form-control" id="dateEndEdit" type="text" placeholder="dd/mm/yyyy" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary mr-2" id="editEvent">Update event</button>
        <button type="submit" class="btn btn-danger" id="deleteEvent">Delete event</button>
        <button type="button" class="btn btn-link text-gray ml-auto" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
<script src="assets/vendor/fullcalendar/main.min.js"></script>
<script src="assets/js/volt.js"></script>
