
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">

            <h2 class="h5 mb-4">General information</h2>

          <form class="forms-sample" [formGroup]="adminupdateform"     novalidate>

                <div class="row" >
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">First Name</label>
                            <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required="" formControlName="admin_NAME" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Last Name</label>
                            <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required="" formControlName="admin_LAST_NAME" >
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <label for="birthday">Birthday</label>
                      <input
                        class="form-control"
                        id="birthday"
                        type="date"
                        placeholder=""
                        formControlName="admin_BIRTHDATE"
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="gender">Gender</label>
                        <select class="form-select mb-0" id="gender" aria-label="Gender select example" formControlName="admin_GENDER">
                            <option selected="">Gender</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="name@company.com" required="" formControlName="admin_EMAIL">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" type="number" placeholder="+12-345 678 910" required="" formControlName="admin_TELE">
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Location</h2>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" id="address" type="text" placeholder="Enter your home address" required="" formControlName="admin_ADRESSE">
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label for="number">Number</label>
                            <input class="form-control" id="number" type="number" placeholder="No." required="" formControlName="admin_NUM">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label for="11">Login</label>
                            <input class="form-control" id="11" type="text" placeholder="login" required="" formControlName="admin_LOGIN">
                        </div>
                    </div>
                  <div class="col-sm-4 mb-3">
                    <div class="form-group">
                      <label for="12">Password</label>
                      <input class="form-control" id="12" type="password" placeholder="password" required="" formControlName="admin_PASSWORD">
                    </div>
                  </div>
                  <div class="col-sm-4 mb-3">
                    <div class="form-group">
                      <label for="12">Admin ID</label>
                      <input class="form-control" id="idamin" type="password" placeholder="id"  formControlName="admin_ID" required>
                    </div>
                  </div>
                </div>
                <div class="mt-3"  >
                    <button   class="btn btn-gray-800 mt-2 animate-up-2" type="submit" (click)="getToUpdateAdmin(1)" >update my information</button>
                  <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" (click)="updateAdmin()">Save all</button>
                </div>
            <div [hidden]="!isupdated">
              <h4>Admin Detail Updated!</h4>
            </div>

            </form>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top" data-background="../assets/img/profile-cover.jpg" ></div>
                    <div class="card-body pb-5">
                        <img src="../assets/img/team/profile-picture-3.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                        <h4 class="h3">Bonnie Green</h4>
                        <h5 class="fw-normal">Senior Software Engineer</h5>
                        <p class="text-gray mb-4">New York, USA</p>
                        <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                            <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                            Connect
                        </a>
                        <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                    </div>
                 </div>
            </div>
    </div>
    <div class="col-12">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Select profile photo</h2>
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <!-- Avatar -->
                    <img class="rounded avatar-xl" src="../assets/img/team/profile-picture-3.jpg" alt="change avatar" style="height:30%;">
                </div>
                <div class="file-field">
                    <div class="d-flex justify-content-xl-center ms-xl-3">
                        <div class="d-flex">
                            <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                            <input type="file">
                            <div class="d-md-block text-left">
                                <div class="fw-normal text-dark mb-1">Choose Image</div>
                                <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</div>
