<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <div class="btn-group ms-2 ms-lg-3">
            <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
            <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-gray-800 d-inline-flex align-items-center me-2">
            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
        </button>
        <button class="btn btn-gray-800 d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
            Reports
            <svg class="icon icon-xs ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1" >
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                Products
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                Customers
            </a>
            <a class="dropdown-item d-flex align-items-center" >
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
              Invoices
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z" clip-rule="evenodd"></path></svg>
                Orders
            </a>
            <div role="separator" class="dropdown-divider my-1"></div>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-800 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                All Reports
            </a>
        </div>
    </div>
</div>
<div class="row" style="width:95%;position: relative;left:3%">

        <div class="card card-body border-0 shadow mb-4"   *ngIf='factureForm && orderForm' >
            <form class="forms-sample"  >
                <div class="row">
                  <div class="col-md-6 mb-3" >
                    <label > Company NAME </label>
                    <select #choice class="form-select mb-0" aria-label="Gender select example"  style="width: 75%"   >
                      <option >{{factureForm.company_NAME}}</option>
                    </select>
                  </div>


                    <div class="col-md-6 mb-3" style="position:absolute;left:55%">
                        <span class="sidebar-icon">
            <img src="../../assets/img/brand/light.svg" height="100" width="100" alt="Volt Logo">
          </span>
                      <span class="mt-1 ms-1 sidebar-text"  style="font-size:50px">Speedy
                        <p style="position: absolute ;left:30%;top: 60%">transport & logistique</p>
                        <p style="position: absolute ;left:35%;top:80%;color:#B56B50">Delivering Logistics Excellence</p></span>
                    </div>

                </div>


              <div style="position: relative;left: 40%;width:50%;margin-top:5%;margin-bottom:8%">
                      <div class="col-md-6 mb-3">
                        <label for="a1">Operation's Date: </label>
                        <div class="input-group" >

                          <input  value="{{factureForm.facture_DATE}}"  class="form-control" id="a1" type="date"  required="">
                        </div >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="a1">Invoice's Date:</label>
                        <div class="input-group" >

                          <input  value="{{factureForm.order_DATE_EDITION}}" class="form-control" id="a1" type="date"  required="">
                      </div>
                    </div>
                  <div class="col-md-6 mb-3" >
                    <label for="a3">Invoice's number: </label>
                    <div class="input-group" >
                     <input value="{{factureForm.facture_ID}}" class="form-control" id="a3" type="text" placeholder="num" required="" style="width:100px">

                    </div >
                  </div>

                      </div>
                        <div class="card" style="border-style: solid;border-color:#B56B50; ">
                          <p style="font-size: 25px;position: relative;left: 40%">Delivery Description :</p>
                          <table class="table table-hover">
                            <thead>
                            <tr>

                              <th class="border-gray-200">Departure</th>
                              <th class="border-gray-200">Destination</th>
                              <th class="border-gray-200">N°PLT</th>
                              <th class="border-gray-200">Total Weight /KG</th>
                            </tr>
                            </thead>
                            <tbody>
                             <tr>
                              <td id="ch1">
                                <input
                                  class="form-control"
                                  id="input-add-name6"
                                  type="text"
                                  placeholder="To"
                                  value="{{orderForm.loading_place}}"

                                />
                              </td>
                              <td id="ch2">
                                <input
                                  class="form-control"
                                  id="input-add-name2"
                                  type="text"
                                  placeholder="number"
                                  value="{{orderForm.unloading_place}}"                                />
                              </td>
                              <td id="ch3"><input
                                class="form-control"
                                id="input-add-name3"
                                type="text"
                              /></td>
                              <td id="ch5"><input
                                class="form-control"
                                id="input-add-name5"
                                type="text"
                                placeholder="total"
                              />
                              </td>
                              <td>
                                <button  type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                                  add
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
              <table class="table" style="border-style: solid;margin-top: 5%;margin-bottom:10%;border-color:var(--bs-body-color)">
                <thead>
                <tr>
                  <th class="border-gray-200">Ligne</th>
                  <th class="border-gray-200">Description</th>
                  <th class="border-gray-200">Quantity</th>
                  <th class="border-gray-200">Unit Price</th>
                  <th class="border-gray-200">Totale</th>
                </tr>
                </thead>
                <tbody>
                 <tr>
                  <td id="ch12">
                    <input
                      class="form-control"
                      id="input-add-name12"
                      type="text"
                      placeholder="ligne"
                      value="{{orderForm.ord_id}}"
                    />
                  </td>
                  <td id="ch22">
                    <input
                      class="form-control"
                      id="input-add-name22"
                      type="text"
                      placeholder="Description"
                    />
                  </td>
                  <td id="ch32"><input
                    class="form-control"
                    id="input-add-name32"
                    type="text"
                    placeholder="Quantity"
                  /></td>
                  <td id="ch52"><input
                    class="form-control"
                    id="input-add-name52"
                    type="text"
                    placeholder="unit price"

                  />
                  </td>
                  <td id="ch62"><input
                    class="form-control"
                    id="input-add-name62"
                    type="text"
                    placeholder="total"
                    value="{{factureForm.facture_TOTALE}}"

                  />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                      add
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
        </div>
    </div>
