<main>

    <!-- Section -->
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <p class="text-center">
                <a href="../dashboard/dashboard.html" class="d-flex align-items-center justify-content-center">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                    Back to homepage
                </a>
            </p>
            <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Create Account </h1>
                        </div>
                      <form class="forms-sample" [formGroup]="userupdateform"     novalidate>                          <div class="row" >
                            <div class="col-md-6 mb-3">
                              <div>
                                <label for="first_name">First Name</label>
                                <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required="" formControlName="admin_NAME" />
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div>
                                <label for="last_name">Last Name</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required="" formControlName="admin_LAST_NAME" >
                              </div>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                              <label for="birthday">Birthday</label>
                              <input
                                class="form-control"
                                id="birthday"
                                type="date"
                                placeholder=""
                                formControlName="admin_BIRTHDATE"
                              />
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="gender">Gender</label>
                              <select class="form-select mb-0" id="gender" aria-label="Gender select example" formControlName="admin_GENDER">
                                <option selected="">Gender</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="name@company.com" required="" formControlName="admin_EMAIL">
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="form-group">
                                <label for="phone">Phone</label>
                                <input class="form-control" id="phone" type="number" placeholder="+12-345 678 910" required="" formControlName="admin_TELE">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-9 mb-3">
                              <div class="form-group">
                                <label for="address">Address</label>
                                <input class="form-control" id="address" type="text" placeholder="Enter your home address" required="" formControlName="admin_ADRESSE">
                              </div>
                            </div>
                            <div class="col-sm-3 mb-3">
                              <div class="form-group">
                                <label for="number">Number</label>
                                <input class="form-control" id="number" type="number" placeholder="No." required="" formControlName="admin_NUM">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4 mb-3">
                              <div class="form-group">
                                <label for="11">Login</label>
                                <input class="form-control" id="11" type="text" placeholder="login" required="" formControlName="admin_LOGIN">
                              </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                              <div class="form-group">
                                <label for="12">Password</label>
                                <input class="form-control" id="12" type="password" placeholder="password" required="" formControlName="admin_PASSWORD">
                              </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                              <div class="form-group">
                                <label for="12">Admin ID</label>
                                <input class="form-control" id="idamin" type="password" placeholder="id"  formControlName="admin_ID" required>
                              </div>
                            </div>
                          </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-gray-800" (click)="adduser()">Sign up</button>
                            </div>
                        <!--div [hidden]="!isupdated">
                          <h4>Admin Detail Updated!</h4>
                        </div-->
                        </form>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                Already have an account?
                                <a href="#" class="fw-bold">Login here</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
