
<main class="content"style="width:100%;height:100%;position: relative;right:25%;">
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between" style="margin-top: -2%;">
        <div class="fw-normal small mt-4 mt-lg-0"><div class="py-4">
            <div class="btn-toolbar mb-2 mb-md-0" style="position: relative;left:0%;">
              <div class="dropdown">

                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                  <span class="small ps-3 fw-bold text-dark">Show</span>
                  <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                  <a class="dropdown-item fw-bold" href="#">20</a>
                  <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
              </div>
                <div class="btn-group ms-2 ms-lg-3">
                  <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
                  <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
              </div>
              </div>
            </div>
          </div></div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-top: -2%;position: relative;">
      <form class="forms-sample" [formGroup]="customersform"  novalidate>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Matricule</th>
                    <th class="border-gray-200">Company Name</th>
                    <th class="border-gray-200">Logo</th>
                    <th class="border-gray-200">Subsribtion Date</th>
                    <th class="border-gray-200">Total Orders</th>
                    <th class="border-gray-200">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                <tr *ngFor="let clt of Tcustomers">
                    <td>
                      {{clt.client_ID}}
                    </td>
                    <td>
                      {{clt.client_NAME}}
                    </td>
                  <td>
                    <div class="col-auto">
                      <a href="#" class="avatar">
                        <img class="rounded" alt="Image placeholder" src="../../assets/img/team/profile-picture-1.jpg">
                      </a>
                    </div>
                  </td>
                    <td> {{clt.subscription_DATE}}</td>
                    <td><span class="fw-bold text-warning"> {{clt.total_ORDERS}}</span></td>
                    <td>
                            <div>
                                <a   class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-toggle="modal" data-target="#myModal"  (click)="getToUpdateClient(clt.client_ID)" >Edit</a>
                                <a    class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"  (click)="DeleteClients(clt.client_ID)">Remove</a>
                            </div>
                    </td>
                </tr>
                <!-- Item -->

                <tr>
                    <td id="ch1">
                        <input
                        class="form-control"
                        id="input-add-name1"
                        type="text"
                        placeholder="Matricule"
                        formControlName="client_ID"
                       />
                    </td>
                    <td id="ch2">
                        <input
                        class="form-control"
                        id="input-add-name2"
                        type="text"
                        placeholder="Name"
                        formControlName="client_NAME"
                       />
                    </td>
                    <td id="ch3"><input
                        class="form-control"
                        id="input-add-name3"
                        type="text"
                        placeholder="file"

                       /></td>
                    <td id="ch4"><input
                        class="form-control"
                        id="input-add-name4"
                        type="date"
                        placeholder="1"
                        formControlName="subscription_DATE"
                       />
                      </td>
                  <td id="ch5"><input
                    class="form-control"
                    id="input-add-name5"
                    type="text"
                    placeholder="total order"
                    formControlName="total_ORDERS"
                  />
                  </td>
                    <td>
                        <button (click)="enregistrerClient()" type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                        add
                    </button>
                     </td>
                </tr>
            </tbody>
        </table>
      </form>
    </div>

</main>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="forms-sample" [formGroup]="clientupdateform"  novalidate>

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Client</h4>
        </div>

        <!-- Modal body  *ngFor="let student of studentlist">-->
        <div class="modal-body" >
          <div >
 <input type="hidden" class="form-control"  >
            <div class="form-group">
              <label >Client Id</label>
              <input
                class="form-control"
                id="input-add1"
                type="text"
                placeholder="Matricule"
                 formControlName="client_ID"
                value="clt.client_ID"
              />
            </div>

            <div class="form-group">
              <label  >Client Name</label>
              <input
                class="form-control"
                id="input-add2"
                type="text"
                placeholder="Name"
                formControlName="client_NAME"
                value="clt.client_NAME"
              />
            </div>
            <div class="form-group">
              <label >Client picture</label>
              <input
                class="form-control"
                id="input-add3"
                type="text"
                placeholder="file"
              />
            </div>

            <div class="form-group">
              <label  >Client Subscription date</label>
              <input
                class="form-control"
                id="input-add4"
                type="date"
                placeholder="1"
                formControlName="subscription_DATE"
                value="clt.subscription_DATE"
              />
            </div>
            <div class="form-group">
              <label  >Client Totale Orders</label>
              <input
                class="form-control"
                id="input-add5"
                type="text"
                placeholder="total order"
                formControlName="total_ORDERS"
                value=${clt.total_ORDERS}

              />

            </div>

          </div>
          <div [hidden]="!isupdated">
            <h4>Client Detail Updated!</h4>
          </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [hidden]="isupdated" (click)="updateclt()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
